<!doctype html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% block link %}{% endblock %}
	<title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
<header>
	{% block header %}
	{% endblock %}
</header>
<main>
	{% block content %}
	{% endblock %}
</main>
<footer>
	{% block footer %}
	{% endblock %}
</footer>
</body>
</html>