{% extends 'base.html' %}

{% load static %}

{% block title %}Главная страница{% endblock title %}
{% block header %}
	<ul>
		<li>Главная</li>
		<li>Контакты</li>
		<li>Обращения</li>
		<li>Что-то еще</li>
	</ul>
{% endblock header %}

{% block content %}
	{% if user.is_active %}
		<div>Вы зашли как {{ user }}</div>
		<div><a href="{% url "logout" %}">Выйти</a></div>
	{% else %}
		<form action="post">
			{% csrf_token %}
			<div><a href="{% url "login" %}">Войти</a></div>
		</form>

	{% endif %}
{% endblock content %}

{% block footer %}
	<div>
		<ul>
			<li>Информация</li>
			<li>Вакансии</li>
			<li>Что-то интересное</li>
			<li>Что-то еще интереснее</li>
		</ul>
	</div>
{% endblock footer %}